<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redefinir senha</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; background-color: #f3f3f3;">
  <table style="width: 100vw; table-layout: fixed;">
    <tr>
      <td colspan="9" style="text-align: center;">
        <img
          src="{{backendOrigin}}/static/TCCConecta.svg"
          alt="TCC conecta"
          style="width: 30%;"
        />
      </td>
    </tr>
    <tr>
      <td colspan="9" style="text-align: center;">
        <h1>REDEFINA SUA SENHA</h1>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <img
          src="{{backendOrigin}}/static/img-message.svg"
          style="width: 100%;"        
        />
      </td>
      <td style="word-wrap: break-word;" colspan="4">
        <p>
          Você (ou alguém), solicitou um link para alterar sua senha. Para alterá-la, por favor clique no botão abaixo.
        </p>
        <p >
          Lembre-se,
          <b>Essa mensagem tem a validade de 30 minutos!</b>
          Se você não tem ciência dessa solicitação, por favor, desconsidere este
          e-mail e não transmita essa mensagem a ninguém.
        </p>
        <a href="{{frontendOrigin}}/recuperar-senha/{{token}}" style="
          text-decoration: none;
          background-color: #4a14e0;
          color: white;
          padding: 10px;
          font-size: 20px;
          border-radius: 10px;
        ">
          Redefinir senha
        </a>
        <p>Caso o botão não funcione, tente por esse link:{{frontendOrigin}}/recuperar-senha/{{token}}</p>
      </td>
    </tr>
  </table>
</body>
</html>